<a href="https://colab.research.google.com/github/yukmiao/myDataSet/blob/main/xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)

In [2]:
import xgboost

In [3]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [12]:
!git clone https://github.com/yukmiao/myDataSet.git

Cloning into 'myDataSet'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [13]:
!ls -R

.:
myDataSet  myDataSet1  sample_data

./myDataSet:
README.md  sixteenK.csv  test.csv

./myDataSet1:

./sample_data:
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [14]:
import pandas as pd
data=pd.read_csv('./myDataSet/sixteenK.csv',header=0)
data.head()

   nodeA  nodeB  label        wcn       wjc   wpa        waa
0      0    356      1  14.714286  0.872881  4347  24.343823
1      0   1236      1  15.666667  0.740157  4914  22.234712
2    356   1236      1  15.428571  0.812030  5382  25.630949
3      0   1655      1  15.714286  0.866142  4599  26.189980
4      0   1797      1  14.285714  0.934579  3024  23.881798

In [15]:
from sklearn.utils import shuffle
data = shuffle(data)
data.head()

       nodeA  nodeB  label        wcn       wjc    wpa        waa
14713   1858   2706      1  10.600000  0.223629  14148  12.608452
11549    883   3920      1   4.666667  0.437500    216   4.221461
683     1242   1595      1   5.571429  0.536082  21534  37.736490
25629    742   1792      0   0.000000  0.000000      0   0.000000
7325     678   1636      1   4.333333  0.764706     88   5.126688

In [16]:
dataX=data.iloc[:,3:].values
dataY=data.iloc[:,2] .values

In [17]:
test=pd.read_csv('./myDataSet/test.csv',header=0)
test.head()

   Id  node A  node B  wcn       wjc   wpa       waa
0   1       0    2917  0.0  0.000000  1134  0.000000
1   2       0    2956  0.0  0.000000   189  0.000000
2   3       1    4038  0.0  0.000000  2512  0.000000
3   4       2    1848  2.0  0.060606   192  1.872036
4   5       3     513  0.0  0.000000   629  0.000000